<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <?php include 'styles.tpl.html' ?>
    </head>
    <body>
        <div id="wrapper" class="container">
            <div id="header">
                <?php 
                $home='active';$instr='';$bind='';$ad='';
                include 'navbar.tpl.html'; 
                ?>
            </div>
            <div id="content">
                <div class="row">
                    <div class="span2">
                    </div>
                    <div class="span10">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
